fastapi
uvicorn
spotipy
python-dotenv
opencv-python-headless
numpy
tensorflow
python-multipart
motor
beanie
python-jose[cryptography]
google-auth
google-auth-oauthlib
google-auth-httplib2
passlib[bcrypt]
pydantic[email]
email-validator